<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>{{numberOfOnlineUsers}}</h2>
</div>
<div>
  <div>
    <input type="text" [(ngModel)]="username" placeholder="Username">
  </div>
  <div>
    <textarea [(ngModel)]="content" rows="4" cols="50"></textarea>
  </div>
  <button (click)="onSubmit()"> Submit button </button>
</div>
<div class="chat-log">
  <ul>
    <li *ngFor="let message of chatLog">
      <h5>{{message.username}}</h5>
      <p>{{message.content}}</p>
    </li>
  </ul>
</div>

